# Logs
logs
*.log
*.db
*.key
*.7z
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.github
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/
/python/miracle-kanban/kanban_env

# Editor directories and files f
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

serve_frontend.mjs
serve_frontend.js
draft_1.psd
draft_2.psd
draft_3.psd
draft_4.psd
draft_5.psd

RSAKEYPAIR.py
configure.py
apiConfig.ts
testVideo01.mp4
testVideo02.mp4
testVideo03.mp4
testCover01.jpg
testCover02.jpg
testCover03.jpg